<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span style="color: rgb(125, 124, 124);">&copy; YelpCamp 2023</span> <span><a href="https://github.com/amavicpos/YelpCampWeb">GitHub</a></span> <span><a href="https://www.linkedin.com/in/amaia-vicario-86a6a1254/">LinkedIn</a></span>
    </div>
</footer>